* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url(../image/fondodorado.png);
  background-repeat: no-repeat,repeat;
  margin:auto;
  line-height:1.5;
  font-family: 'Zilla Slab', serif;
}

h1{
  font-family:SF Pro Display;
  text-align: center;
  color: #b99664;
  padding 10px;
}

.form-register {
  width: 900px;

  background: #b99664;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #b99664;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background:#F7EDEB;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #FFFFFF;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(15, 15, 15);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #FFFFFF;
  border: none;
  padding: 12px;
  color: #b99664;
  margin: 16px 0;
  font-size: 16px;
}


h2{
	text-align:center;
}

header{
    position: fixed; 
    padding: 2px; 
    width: 100%; 
    background-color:#145056;
    text-align: center;
    z-index: 10;
	padding-top:10px;
}

#imagenlogo{
    width: 100px;
    height: 85px;
}

.titulosh2{
	width:45%;
	margin:auto;
	padding:5px;
	border-bottom:3px solid black
}

.contenh{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items: center;
}

#btn-navegacion{
	display: none;
}


.navegacion ul{
	background-color: #145056;
	color: white;
	display: flex;
	list-style: none;
	z-index: 5;

}

.navegacion ul ul {
	display: none;

}

.navegacion a {
	color: white;
	display: block;
	padding: 15px 15px;
	text-decoration: none;

}


.navegacion a:hover {
	background: #145056;
}

.navegacion a:visited {
	color: white;
}


.navegacion ul li:hover ul{
	display: block;
	position: absolute;
}


.navegacion a{
	text-decoration:none;
	color:#ffffff;
	margin-right:20px;
	font-weight:bold;
	font-size:15px;
}

.navegacion a:hover{
	color:#F78A08;
}

.sectimg img{
	width:100%;
	margin-top:20px;
}

button{
  background-color: #b99664;
  
}






.pie{
	border-top:solid 3px #145056;
	padding:20px;
}

.contpie{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.contpie span1{
	color:#F78A08;
}

.contpie span2{
	color: #145056;
}

.final a{
	text-decoration:none;
	color:black;
	margin-right:20px;
	font-size:15px;
}

.pie a:hover{
	color:#F78A08;
}
