body{
	margin:auto;
	line-height:1.5;
	font-family: 'Zilla Slab', serif;
	
}

h2{
	text-align:center;
}

header{
    position: fixed; 
    padding: 2px; 
    width: 100%; 
    background-color:#145056;
    text-align: center;
    z-index: 10;
	padding-top:10px;
}

#imagenlogo{
    width: 100px;
    height: 85px;
}


.titulosh2{
	width:45%;
	margin:auto;
	padding:5px;
	border-bottom:3px solid black
}

.contenh{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items: center;
}




#btn-navegacion{
	display: none;
}


.navegacion ul{
	background-color: #145056;
	color: white;
	display: flex;
	list-style: none;
	z-index: 5;

}

.navegacion ul ul {
	display: none;

}

.navegacion a {
	color: white;
	display: block;
	padding: 15px 15px;
	text-decoration: none;

}


.navegacion a:hover {
	background: #145056;
}

.navegacion a:visited {
	color: white;
}


.navegacion ul li:hover ul{
	display: block;
	position: absolute;
}


.navegacion a{
	text-decoration:none;
	color:#ffffff;
	margin-right:20px;
	font-weight:bold;
	font-size:15px;
}

.navegacion a:hover{
	color:#F78A08;
}

.sectimg img{
	width:100%;
	margin-top:20px;
}

.contmain{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-evenly;
	padding-top:30px
}

.artimain span0{
	color:#F78A08;
}
.artimain span00{
	color:#E3E2E2;
}
.artimain span01{
	color:#F78A08;
	font-size:12px;
}

.artimain{
	width:85%;
	padding-bottom:40px;
}

.contrecom{
	width:60%;
	margin:auto;
}
.contrecom p{
	text-align:center;
}


.pie{
	border-top:solid 3px #145056;
	padding:20px;
}

.contpie{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.contpie span1{
	color:#F78A08;
}

.contpie span2{
	color: #145056;
}

.final a{
	text-decoration:none;
	color:black;
	margin-right:20px;
	font-size:15px;
}

.pie a:hover{
	color:#F78A08;
}

